@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Rubik+Wet+Paint&display=swap');
body {
    font-family: 'Roboto';
}

.title {
    color: green;
    font-size: 30px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    /* z-index works pretty much like a layer:
    the higher the z-index value, the greater
    it will allow the navigation tag to stay on top
    of other tags */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}

.link {
    color: black;
    text-decoration: none;
}

.content {
    text-align: center;
    padding: 10rem;
    background: url('../images/bg.jpg');
    background-size: cover;
    font-size: large;
}

.content_SubHeading {
    color: green;
}

.btn-primary {
    background-color: #77C14B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
}

.btn-primary:hover {
    background-color: rgb(161, 176, 161);
    transition: all;
}

.video_section {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlighted_text {
    color: #8ECB68;
}

.video_frame {
    margin: 30px;
}

.image_info {
    display: flex;
    justify-content: center;
}

.leftimage img {
    width: 250px;
    height: 200px;
}

.righttext {
    width: 30%;
}

.image_info2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.lefttext {
    width: 30%;
}

.rightimage img {
    width: 255px;
    height: 178px;
}

.mealplans {
    text-align: center;
    margin-top: 50px;
}

.gridmenu {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left bottom;
    background-color: #F4F4F4;
}

.leftsection p {
    width: 22rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 10px;
}

.grid-item {
    position: relative;
}

.grid-item img {
    border: 2px solid white;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.grid-item h4 {
    background-color: white;
    position: absolute;
    bottom: -24px;
    left: -19px;
    padding: 12px 12px;
    border-radius: 5px;
    font-size: 20px;
    color: #8ECB68;
}

.somewords {
    padding: 100px 180px;
    text-align: justify;
}

.leftboldtext {
    text-align: right;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: -1px 3px 54px 3px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -1px 3px 54px 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 3px 54px 3px rgba(0, 0, 0, 0.29);
}

.card img {
    width: 100%;
}

.card h4 {
    color: #8ECB68;
    margin-left: 20px;
}

.grid-container-three-option {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px 90px;
    gap: 30px;
}